<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
</head>
<body>
<h1>Registration Form</h1>
<form action="#" th:action="@{/register}" th:object="${user}" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" th:field="*{username}" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" required>
    </div>
    <div>
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
    </div>
    <div>
        <input type="submit" value="Register">
    </div>
</form>
</body>
</html>